rocommunity "{{ snmp_prefix }}{{ inventory_hostname_short }}"

syslocation  {{ snmp_location }}
syscontact {{ snmp_contact }} 
sysServices    72

#  Disk Monitoring
disk       /     10000
disk       /var  5%
includeAllDisks  10%
